{% extends 'base.html' %}

{% load socialaccount %}

{% load static %}

{% block content %}
<div class="container col-md-7 d-flex justify-content-center">
    <form class="login account-form-container" id="login-form" method="POST" action="{% url 'account_login' %}">
        <div class="image-container"></div>
        <div class="p-4 my-auto form-container">
            <div>
                <h4>TaskFlow</h4>
                <p>A simple Kanban board webapp</p>
                <em>Distraction Free | Simple<br>Free | Customizable</em>
                <br>
                <br>
                <p>Please Sign In or <a href="{% url 'account_signup' %}">Sign Up</a></p>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-outline-primary" type="submit">Sign In</button>
                <a href="{% provider_login_url 'google' %}" type="button" class="btn btn-outline-dark">Or Sign In With Google</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}