{% extends 'base.html' %}

{% load account socialaccount %}

{% block content %}

<div class="center">
    <form class="login account-form" method="POST" action="{% url 'account_login' %}">
        <p>Welcome, please sign in</p>
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-outline-success" type="submit">Sign In</button>
    </form>
</div>

{% endblock %}