{% extends 'base.html' %}

{% load socialaccount %}

{% load static %}

{% block content %}

<!-- Django All auth template with custom styling to match site branding -->

<div class="container col-md-7 d-flex justify-content-center">
    <form class="login account-form-container" id="login-form" method="POST" action="{% url 'account_login' %}">
        <div class="image-container"></div>
        <div class="p-4 my-auto form-container">
            <div>
                <h4>TaskFlow</h4>
                <p>A simple Kanban board webapp</p>
                <em>Distraction Free | Simple<br>Free | Customizable</em>
                <br>
                <br>
                <p>Please Sign In or <a href="{% url 'account_signup' %}">Sign Up</a></p>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-outline-primary" type="submit">&nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;</button><br>
                <a href="{% provider_login_url 'google' %}" role="button" class="btn btn-light mt-2"><img class="me-2" width="20" height="20" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">Sign in with Google</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}