{% extends 'base.html' %}
{% load i18n allauth account %}

{% block content %}
<div class="container col-md-7 d-flex justify-content-center">
    <form class="signup account-form-image small d-flex flex-wrap mt-5" id="reset-password" method="post"
        action="{% url 'account_signup' %}">
        <div class="image-container"></div>
        <div class="p-4 my-auto mx-auto">
            <div style="max-width: 350px; max-height: 502px; overflow: scroll">
                <h4>TaskFlow</h4>
                <h6 class="mb-4">Password Reset</h6>
                {% url 'account_reset_password' as reset_url %}
                {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
                {% endslot %}
                {% slot actions %}
                {% element button type="submit" %}
                {% trans 'Reset My Password' %}
                {% endelement %}
                {% endslot %}
                {% endelement %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
