{% extends 'base.html' %}
{% load i18n allauth account %}

{% block content %}
<div class="container col-md-7 d-flex justify-content-center">
    <form class="signup account-form-container" id="reset-password" method="post" action="{% url 'account_reset_password' %}" class="password_reset">
        <div class="image-container"></div>
        <div class="p-4 my-auto form-container">
            <h4>Forgot your password?</h4>
            <p>We'll send you a link to get a new one.</p>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-large btn-outline-primary" value="Reset My Password"/>
            </form>
        </div>
    </form>
</div>
{% endblock %}
