{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="container col-md-7 d-flex justify-content-center">
    <form class="signup account-form-container" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        <div class="image-container"></div>
        <div class="p-4 my-auto form-container">
            <h4>TaskFlow</h4>
            <h6 class="mb-4">Create an Account</h6>
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signup btn-outline-primary" type="submit">Create Account</button>
            <a href="{% provider_login_url 'google' %}" type="button" class="btn btn-outline-dark">Or Sign Up With Google</a>
        </div>
    </form>
    <div id="g_id_onload"
     data-client_id="1096312196638-vt90kf728au3l9fh3ekj8otbhobr1mv7.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://8000-leonp84-codeinstitutepr-kg6119h86gk.ws-eu111.gitpod.io/accounts/login/"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>

</div>

{% endblock %}
