{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="container col-md-7 d-flex justify-content-center">
    <form class="signup account-form-container" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        <div class="image-container"></div>
        <div class="p-4 my-auto form-container">
            <h4>TaskFlow</h4>
            <h6 class="mb-4">Create an Account</h6>
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signup btn-outline-primary" type="submit">Create Account</button>
            <a href="{% provider_login_url 'google' %}" type="button" class="btn btn-outline-dark">Or Sign Up With Google</a>
        </div>
    </form>
</div>

{% endblock %}
