{% extends "admin/base.html" %}
{% load static %}

<!-- Django Admin template with custom styling to match site branding -->

{% block extrahead %}
    <style>
        #header,
        .module caption {
            background-color: #4b658c;
        }
    </style>

{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name mt-1">
    <a href="{% url 'admin:index' %}"><img id="branding-logo" src="{% static 'assets/images/logo-admin.webp' %}" height="40" alt="TaskFlow Logo"><br></a>
</div>
<script>
    console.log(document.getElementById('site-name').innerHTML)
</script>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}