{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    <style>
        #header,
        .module caption {
            background-color: #4b658c;
        }
    </style>
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name mt-1">
    <a href="{% url 'admin:index' %}"><img src="{% static 'assets/images/logo-admin.webp' %}" alt="TaskFlow Logo" height="80" width="auto"><br></a>
</div>

{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}