@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --project-blue: rgb(75, 101, 140);
    --project-grey: #383140;
    --project-white: #EEF0F4;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: var(--project-grey);
    min-height: 100vh;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.dark {
    background-color: black;
    color:rgb(205, 205, 205);
}

.dark .board {
    background-color: black;
    border: 2px solid rgb(99, 99, 99);

}

.dark .task-title {
    color: rgb(225, 225, 225);
}

.dark .side-board a,
.dark footer {
    color: white !important;
}

.dark .side-board {
    border-right: 3px solid rgb(99, 99, 99);
}

.dark .task {
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(99, 99, 99);
}


.dark .nav-link {
    color: rgb(71, 110, 183);
}

.nav-item {
    border-left: 1px solid lightgrey;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 30px;
}

nav {
    border-bottom: 1px solid lightgray;
}

.dark nav {
    border-bottom: 1px solid rgb(99, 99, 99);
}

.nav-link {
    color: var(--project-blue);
    font-weight: 400;
}

.nav-link:hover {
    text-decoration: underline;
}

#search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid var(--project-blue);
    background-color: white;
    margin-left: 20px;
}

#search-icon:hover { 
    background-color: rgba(0, 0, 0, 0.416);
    cursor: pointer;
}

#board-info-text {
    max-width: 625px;
    max-height: 75px;
    margin-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


main {
    display: flex;
    flex-direction: row-reverse;
    min-height: 70vh;
}

.colour-selector {
    padding: 5px;
    margin: 5px 1px;
}

.side-board {
    width: 220px;
    min-height: 90vh;
    height: auto;
    border-right: 3px solid lightgrey;
    background-color: var(--project-white);
}

.board-name {
    font-size: smaller;
    text-align: center;
    padding: 10px 6px;
    background-color: var(--project-blue);
    margin-bottom: 20px;
    width: 105%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-decoration: none;
}

.board-name:hover,
.board-buttons:hover,
.board-button-top:hover { 
    box-shadow: 1px 1px 20px var(--project-blue);
}

.board-name span {
    line-height: 150%;
}

.board-buttons {
    text-align: center;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: var(--project-blue);
    margin: 20px auto;
    color: white;
    text-decoration: none;
}

.dark .board-buttons {
    color: black;
}

.board-button-top {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    background-color: var(--project-blue);
}

.big-nav-bottom {
    position: absolute;
    bottom: 84px;
    left: 25px;
    text-align: center;
}

.board {
    height: 78vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 3px solid rgb(163, 182, 192);
    background-color: var(--project-white);
    border-radius: 20px;
    white-space: nowrap;
    overflow: auto;
    /* -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: hidden; */
}

.column {
    display: inline-block;
    border-right: 1px dashed var(--project-grey);
    width: 266px;
    height: 96%;
    margin: 0 5px;
    white-space: nowrap;
    overflow: auto;
}

.column-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

.line {
    border: 1px solid grey;
    width: 70%;
    margin: 10px auto 15px auto;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.task {
    border: 2px solid rgb(163, 163, 163);
    border-radius: 15px;
    width: 250px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px 15px;
    position: relative;
    background-color: white;
}

.strikethrough {
    text-decoration: line-through;
}

.task img {
    position: absolute;
    top: -5px;
    right: 1px;
}

.task-title {
    width: 95%;
    white-space: wrap;
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--project-grey);
}

.task-title:hover {
    color: var(--project-blue);
}

.task-card-priority {
    position: absolute;
    top: -2px;
    right: -2px;
    height: 20px;
    width: 20px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 5px;
}

.task-completed-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 1000;
    color:white;
    background-color: green;
    position:absolute;
    top: -2px;
    right: -4px;
}

#char-count-span {
    font-size: 12px;
    color: rgb(172, 170, 170);
    margin-left: 10px;
}

#archived-tasks .modal-dialog {
    width: 310px;
}

.modal-footer {
    position: relative
}

.board .modal-content {
    white-space: wrap;
    overflow: show;
}

.task-completed-check-modal { 
    width: 60px;
    height: 60px;
    font-size: 44px;
    top: 11px;
    right: -11px;
}

.hidden {
    display: none;
}

.label-button {
    padding: 0 5px;
    border-radius: 10px;
    margin: 5px;
    height: 27px;
}

#toggle-theme {
    height: 23px;
    width: 51px;
    cursor: pointer;
    border: 3px solid var(--project-blue);
}
#toggle-theme:hover { 
    background-color: rgba(0, 0, 0, 0.416);
}


.form-check-input:checked {
    background-color: var(--project-blue);
    border-color: var(--project-blue);
}

.label-button:hover {
    box-shadow: 1px 1px 10px var(--project-blue);
 }

/* Modal - Add New Task */

.modal-content {
    border: 3px solid var(--project-blue);
}

.form-floating > .form-control:focus ~ label::after, 
.form-floating > .form-control:not(:placeholder-shown) ~ label::after { 
    background-color: transparent;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: rgb(186, 185, 185);
    text-decoration: underline;
}

.form-control::placeholder {
    color: rgb(163, 163, 163);
}

.delete-subtask {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--project-blue);
    color: rgb(222, 222, 222);
}

footer a {
    color: rgb(222, 222, 222);
}

footer a:hover {
    color: black;
    text-decoration: none;
}

/* Color classes for use with the Column & Label Models */

.white { background-color: rgba(255, 255, 255, 0.507); border: 2px solid white; }
.red { background-color: rgba(255, 0, 0, 0.5); border: 2px solid red; }
.green { background-color: rgba(0, 128, 0, 0.5); border: 2px solid green; }
.blue { background-color: rgba(0, 0, 255, 0.5); border: 2px solid blue; }
.yellow { background-color: rgba(255, 255, 0, 0.5); border: 2px solid yellow; }
.none { background-color: transparent }

#intro-image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.image-container {
    display: flex;
    flex-grow: 1;
    width: 305px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: url('/static/assets/images/intro-screen.jpg') no-repeat center center / cover;
}

.image-container-signup {
    width: 305px;
    height: 400px;
}

/* Customize appearance of Django Allauth account forms */

.btn-light {
    border: 1px solid black;
}

.account-form {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;

}

.account-form-image {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 37px;
    margin-bottom: 80px;
    max-width: 447px;
}

.dark .account-form,
.dark .account-form-image {
    border: 2px solid rgb(205, 205, 205);
}

.account-form-image input[type="text"] {
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#div_id_colour label:hover {
    box-shadow: 1px 1px 10px var(--project-grey);
}

.signup label {
    display: none;
}

.signup input {
    height: 35px;
    /* background-color: transparent; */
    caret-color: red;
}

.signup li {
    font-size: 12px;
    text-align: left;
    padding: 5px 0;
}

label[for="id_password"],
label[for="id_login"] {
    display: none;
}

#id_password_helptext {
    margin-top: 30px;
    display: block;
}

.border-container {
    padding: 10px;
    border: 1px solid var(--project-grey);
    border-radius: 20px;
    position: relative;
}

.remove-button,
.remove-button-label {
    position: absolute;
    right: 11px;
}

@media screen and (min-width: 768px) {
    .board {
        width: 100%;
        margin: 0 18px;
        margin-top: 15px;
        border-radius: 20px;
    }

    .image-container {
        width: 450px;
        height: 550px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media screen and (min-width: 1200px) {

    .image-container {
        width: 350px;
        height: 497px;
        border-top-right-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        flex-grow: 0;
    }

    .account-form-image {
       max-width: 730px;
       width: 730px;
       max-height: 500px;
    }

    .account-form-image-signup {
        max-width: 1000px;
        width: 1000px;
        max-height: 450px;
     }

     .image-container-signup {
        width: 300px;
        height: 450px;
        flex-grow: 1
    }

}