* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    position: relative;
}

main {
    display: flex;
    flex-direction: row-reverse;
    min-height: 80vh;
}

.colour-selector {
    padding: 5px;
    margin: 5px 1px;
}

.side-board {
    width: 220px;
    min-height: 90vh;
    height: auto;
    border: 2px solid black;
}

.board-name {
    font-size: smaller;
    text-align: center;
    padding: 10px 6px;
    background-color: rgb(64, 64, 172);
    margin-bottom: 20px;
    width: 105%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-decoration: none;
}

.board-name:hover,
.board-buttons:hover,
.board-button-top:hover { 
    box-shadow: 1px 1px 10px rgb(64, 64, 172);
}

.board-name span {
    line-height: 150%;
}

.board-buttons {
    text-align: center;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgb(64, 64, 172);
    margin: 20px auto;
    color: white;
    text-decoration: none;
}

.board-button-top {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    background-color: rgb(64, 64, 172);
}

.big-nav-bottom {
    position: absolute;
    bottom: 84px;
    left: 25px;
    text-align: center;
}

.board {
    height: 78vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1px solid rgb(64, 64, 172);
    border-radius: 20px;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-x: scroll;
    overflow-y: hidden;
}

.column {
    display: inline-block;
    border-right: 1px solid rgb(45, 45, 45);
    width: 266px;
    height: 100%;
    margin: 0 5px;
    white-space: nowrap;
    overflow: auto;
}

.column-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

.line {
    border: 1px solid grey;
    width: 70%;
    margin: 10px auto 15px auto;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.task {
    border: 2px solid white;
    border-radius: 20px;
    width: 250px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px 15px;
    position: relative;
    background-color: rgb(38, 38, 38);
}

.strikethrough {
    text-decoration: line-through;
}

.task img {
    position: absolute;
    top: -5px;
    right: 1px;
}

.task-title {
    width: 95%;
    white-space: wrap;
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;

}

.task-title:hover {
    color: rgb(64, 64, 172)
}

.task-card-priority {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: brown;
    height: 20px;
    width: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
}

.task-completed-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 1000;
    color:white;
    background-color: green;
    position:absolute;
    top: -2px;
    right: -4px;
}

#archived-tasks .modal-dialog {
    width: 310px;
}

.modal-footer {
    position: relative
}

.task-completed-check-modal { 
    width: 60px;
    height: 60px;
    font-size: 44px;
    top: 11px;
    right: -11px;
}

.hidden {
    display: none;
}

.label-button {
    padding: 0 5px;
    border-radius: 10px;
    margin: 5px;
    height: 30px;
    background-color: rgb(43, 43, 43);
}

.label-button:hover {
    box-shadow: 1px 1px 10px white;
 }

/* Modal - Add New Task */

.modal-content {
    border: 3px solid rgb(64, 64, 172)
}

.form-floating > .form-control:focus ~ label::after, 
.form-floating > .form-control:not(:placeholder-shown) ~ label::after { 
    background-color: transparent;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: rgb(186, 185, 185);
    text-decoration: underline;
}

.form-control::placeholder {
    color: rgb(163, 163, 163);
}

.delete-subtask {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: darkslateblue;
}

/* Color classes for use with the Column & Label Models */

.white { background-color: white; }
.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }
.none { display: none; }


/* Customize appearance of Django Allauth account forms */

.account-form {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.account-form input {
    padding: 5px;
}

#div_id_colour label:hover {
    box-shadow: 1px 1px 10px black;
}

.signup-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.signup {
    width: 360px;
}

.signup label {
    display: block;
    margin-bottom: 8px;
}

.signup li {
    font-size: 12px;
    text-align: left;
    padding: 5px 0;
}

label[for="id_password"],
label[for="id_login"] {
    display: none;
}

#id_password_helptext {
    margin-top: 30px;
    display: block;
}

.form-select[value="0"] {
    background-color: aquamarine;
}


.border-container {
    padding: 10px;
    border: 1px solid rgb(64, 64, 172);
    border-radius: 20px;
    position: relative;
}

.remove-button,
.remove-button-label {
    position: absolute;
    right: 11px;
}

@media screen and (min-width: 768px) {
    .board {
        width: 100%;
        margin: 0 18px;
        margin-top: 15px;
        border-radius: 20px;
    }
}