* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    z-index: 10;
}

/* Customize appearance of Django Allauth account forms */

.account-form {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.account-form input {
    padding: 5px;
}

#div_id_colour label:hover {
    box-shadow: 1px 1px 10px black;
}

.signup-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.signup {
    width: 360px;
}

.signup label {
    display: block;
    margin-bottom: 8px;
}

.signup li {
    font-size: 12px;
    text-align: left;
    padding: 5px 0;
}

label[for="id_password"],
label[for="id_login"] {
    display: none;
}

#id_password_helptext {
    margin-top: 30px;
    display: block;
}

.form-select[value="0"] {
    background-color: aquamarine;
}


.border-container {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}

.remove-button,
.remove-button-label {
    position: absolute;
    right: 11px;
}

hr {
    border: 2px solid blue;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: rgb(86, 86, 86);
    width: 100%;
    color: white;
}

footer a {
    color: white;
}