{% extends 'base.html' %}

{% load account socialaccount %}
{% load static %}

{% block content %}

<!-- Custom 404 Page -->

<div class="container col-md-7 d-flex justify-content-center">
    <div class="login account-form-image d-flex flex-wrap">
        <div class="p-4 my-auto mx-auto">
            <div style="max-width: 350px;">
                <h2 class="mb-2">404.</h2>
                <p>Oops, there's nothing here...<br>Click below to go back.</p>
                <a class="btn btn-lg btn-primary mt-2" href="{% url 'index' %}" role="button">Return to Home Page</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}