{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'assets/js/create-board.js' %}" defer="defer"></script>
<div class="container col-md-6 mt-md-3 mb-5 pb-3">
    <h3 class="mt-3 text-center">Create A New Kanban Board</h3>
    <form id="add-border-form" method="post" style="margin-top: 2em; margin-bottom: 2em;">
        <div id="div_id_title" class="mb-3">
            <label for="id_title" class="form-label requiredField">
                Title
                <span class="asteriskField">*</span>
            </label>
            <input type="text" name="title" maxlength="200" class="textinput form-control" pattern="[^\s].*" required id="id_title">
        </div>
        <div id="div_id_description" class="mb-3">
            <label for="id_description" class="form-label">
                Description
            </label>
            <textarea name="description" cols="40" rows="3" class="textarea form-control"
                id="id_description"></textarea>
        </div>

        <!-- Columns -->
        <div class="mt-4">
            <h6>Create New Columns for your board</h6>
            <p>Note: <em>Tasks in the <strong>final</strong> column are always interpreted as completed.</em></p>
        </div>
        <div class="border-container">
            <div class="mb-3">
                <label for="column_title" class="form-label requiredField">
                    Column 1 Title
                    <span class="asteriskField">*</span>
                </label>
                <input type="text" name="column_title" maxlength="200" pattern="[^\s].*" class="textinput form-control col-titles" required
                    id="column_title_1">
            </div>
            <span class="mb-2">Choose a colour for Column 1:</span>
            <div class="mb-3">
                <input type="radio" class="btn-check" name="column_colour-1" value="white" id="white-1" checked>
                <label class="btn btn-outline-light colour-selector" for="white-1">White</label>

                <input type="radio" class="btn-check" name="column_colour-1" value="red" id="red-1">
                <label class="btn btn-outline-danger colour-selector" for="red-1">Red</label>

                <input type="radio" class="btn-check" name="column_colour-1" value="green" id="green-1">
                <label class="btn btn-outline-success colour-selector" for="green-1">Green</label>
                
                <input type="radio" class="btn-check" name="column_colour-1" value="blue" id="blue-1">
                <label class="btn btn-outline-primary colour-selector" for="blue-1">Blue</label>

                <input type="radio" class="btn-check" name="column_colour-1" value="yellow" id="yellow-1">
                <label class="btn btn-outline-warning colour-selector" for="yellow-1">Yellow</label>
            </div>
        </div>
        <button type="button" id="create-new-column" class="btn btn-primary mt-3 mb-5">Add
            Column</button>
        <button type="button" id="remove-new-column" class="btn btn-danger mt-3 mb-5"
            style="display: none;">Remove Column</button><br>

        <!-- Labels -->

        <div class="border-container">
            <div class="mb-3">
                <label for="label_title" class="form-label requiredField">
                    Label 1 Title
                    <span class="asteriskField">*</span>
                </label>
                <input type="text" name="label_title" maxlength="200" class="textinput form-control" required
                    id="label_title_1">
            </div>
            <span class="mb-2">Choose a colour for Label 1:</span>
            <div class="mb-3">
                <input type="radio" class="btn-check" name="label_colour-1" value="light" id="label-white-1" checked>
                <label class="btn btn-outline-light colour-selector" for="label-white-1">White</label>

                <input type="radio" class="btn-check" name="label_colour-1" value="danger" id="label-red-1">
                <label class="btn btn-outline-danger colour-selector" for="label-red-1">Red</label>

                <input type="radio" class="btn-check" name="label_colour-1" value="success" id="label-green-1">
                <label class="btn btn-outline-success colour-selector" for="label-green-1">Green</label>
                
                <input type="radio" class="btn-check" name="label_colour-1" value="primary" id="label-blue-1">
                <label class="btn btn-outline-primary colour-selector" for="label-blue-1">Blue</label>

                <input type="radio" class="btn-check" name="label_colour-1" value="warning" id="label-yellow-1">
                <label class="btn btn-outline-warning colour-selector" for="label-yellow-1">Yellow</label>
            </div>
        </div>
        <button type="button" id="create-new-label" class="btn btn-primary mt-3 mb-5 small">Add Label</button>
        <button type="button" id="remove-new-label" class="btn btn-danger mt-3 mb-5 small"
            style="display: none;">Remove Label</button><br>



        {% csrf_token %}
        <button type="submit" id="submit-new-board" class="btn btn-lg btn-success mt-3 me-2">Add Board</button>
    </form>
</div>

{% endblock %}