{% extends 'base.html' %}

{% block content %}

<div class="board">

    <!-- Insert Columns -->

    <div class="column">
        <div class="column-heading">
            <div class="circle"></div>
            <span>Column Title</span>
            
        </div>
        <hr class="line">

        <!-- Insert Tasks -->

        <div class="task">
            <p class="mb-2 task-title">Add clickable panels for board display in mobile view</p>
            <p class="mb-1 small">2 of 3 subtasks</p>
            <div class="progress mb-1">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 66%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="badge rounded-pill bg-success me-1">task</span>
            <span class="badge rounded-pill bg-danger">must-have</span>
        </div>

    </div>
    <div class="column">

    </div>
    <div class="column">

    </div>
</div>

{% endblock %}